@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400&display=swap');

body {
    font-family: 'Gothic A1', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 12px 48px;
    color: hsl(0%, 0%, 0%);
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 3em;
}


h1, .navlinks {
    display: inline-block;
}

a {
    text-decoration: none;
}

.navlinks > ul {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 24px;
}

.navlinks li + li {
    margin-left: 24px;
}

.navlinks a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.action {
    text-transform: uppercase;
    color: inherit;

}

h2 {
font-family: 'Gothic A1', sans-serif;
font-weight: 600;
font-size: 30px;
margin-top: 50px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 150px);
    height: 300px;
}

.grid-item:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}    
.grid-item:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
.grid-item:nth-child(3) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}
.grid-item:nth-child(4) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.grid-item:nth-child(5) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
.grid-item:nth-child(6) {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

  /* Appearance */

.grid-container {
    list-style: none;
    padding: 2px;
}

.grid-item {
    transform: scale(0.5);
}



