@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400&display=swap');

body {
    font-family: 'Gothic A1', sans-serif;
    color: hsl(0, 0%, 0%);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px 48px 0px;
}

@media (max-width: 800px){
    header {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }        
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 3em;
}

h1, .navlinks {
    display: inline-block;
}

@media (max-width: 800px){
    h1 {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}
.navlinks > ul {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 24px;
}

.navlinks li + li {
    margin-left: 24px;
}

@media (max-width: 800px) {
    .navlinks >ul {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .navlinks li + li {
        margin-left: 0;
    }
}

.navlinks a {
    text-transform: uppercase;
    text-decoration: none;
    color: hsl(0, 0%, 40%);
    font-weight: 600;
}

a:hover {
    color: hsl(209, 84%, 51%);
    transition: color 125ms;
    text-decoration: none;
}

.action {
    text-transform: uppercase;
    background-color:hsl(195, 93%, 88%);
    color: hsl(0, 0%, 0%);
    border: 2px solid hsl(244, 93%, 52%);
    padding: 15px;
    text-decoration: none;
    border-radius: 25px;
}

@media (max-width: 800px) {
    .action {
        max-width: fit-content;
        align-items: center;
    }
}

main { 
    background-color: hsl(210, 8%, 95%);
}

@media (max-width: 800px) {
    main {
        background-color: hsl(0, 0%, 100%);
        text-align: center;
}
}

h2 {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding: 50px 48px;
}

p  {
    font-family: 'Gothic A1', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    padding: 10px 48px;
    inline-size: 400px;
}

.grid-container {
    display: grid;
    grid-template: repeat(2, 150px) / repeat(3, 150px);
    height: 300px;
    list-style: none;
    padding: 2px;
    position: relative;
    margin-left: 40px;
}

.grid-item:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}    
.grid-item:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
.grid-item:nth-child(3) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}
.grid-item:nth-child(4) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.grid-item:nth-child(5) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
.grid-item:nth-child(6) {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

@media (max-width: 800px) {
    .grid-container {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        margin-bottom: 1px;
}
    .grid-item {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
    }
}

article {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 10%;
    line-height: 1em;
    border: 2px solid black;
}

article > img {
    margin-left: 7%;
    width: auto;
    height: 350px;
}

article > h2 {
    text-align: left;
    margin: 3%;
    padding: 0;
}

article > p {
    text-align: center;
    line-height: 25px;
    width: auto;
    padding: 0;
}

@media (max-width: 1000px) {
    article {
        display: none;
}
}

.statement {
    padding-top: 12%;
    padding-bottom: 1%;
    margin: 0;
    text-align: center;
}

figure > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 20px;
}

figure > figcaption {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

#companylinks {
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
    padding-top: 20px;
    text-decoration: none;
}

#site {
    display: inline-block;
    height:100px;
    width: 250px;
    grid-column: 1;
}

@media (max-width: 800px) {
    #site {
        display: none;
}
}

strong {
    font-weight: bold;
}

.grid1 {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    flex-direction: column;
    
}

.grid2 {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid3 {
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.blinks {
    display: flex;
    grid-column: 5;
    padding-left: 8%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    padding: 4px;
    text-decoration: none;
}

footer {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    
}

small {
    display: flex;
    justify-content: flex-start;
    grid-column: span 2;
}

.slinks {
    display: flex;
    grid-column: 3;
    font-size: 20px;
    padding: 0;
    margin: 0;  
    justify-content: flex-end;
}

ul > li {
    grid-column: 4;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icon {
    height: 25px;
    width: 25px;
}

@media (max-width: 800px) {
    footer{
        display: flex;
        flex-direction: column;
        padding-left: 10%;
    }
    .slinks {
        display: none;
    }
    ul {
        display: flex;
        justify-content: center;
    }
}